.unitOrb.none {
    display: none;
}

.unitOrb {
    position: absolute;
    width: 29px;
    height: 30px;
    top: 7px;
    left: 6px;
    z-index: 5;
    border-radius: 28px;
    border: 1px solid gray;
    pointer-events: none;
}

.unitOrb.STR {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orangered, rgb(50,50,50));
}

.unitOrb.DEX {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, limegreen, rgb(50,50,50));
}

.unitOrb.QCK {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, dodgerblue, rgb(50,50,50));
}

.unitOrb.PSY {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orange, rgb(50,50,50));
}

.unitOrb.INT {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, mediumorchid, rgb(50,50,50));
}

.unitOrb.G {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orange, orangered);
}

.unitOrb.S {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orangered, rgb(50,50,50));
}

.unitOrb.D {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, limegreen, rgb(50,50,50));
}

.unitOrb.Q {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, dodgerblue, rgb(50,50,50));
}

.unitOrb.P {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orange, rgb(50,50,50));
}

.unitOrb.I {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, mediumorchid, rgb(50,50,50));
}

.unitOrb.R {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, pink, magenta);
}

.unitOrb.M {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, darkgoldenrod, saddlebrown);
}

.unitOrb.T {
    background-image: radial-gradient(9px 3px, circle cover, oldlace, darkgoldenrod, saddlebrown);
}

.unitOrb.W {
    background-image: radial-gradient(9px 3px, circle cover, gold, orangered, rgb(50,50,50));
}

.unitOrb.E {
    background-image: radial-gradient(9px 3px, circle cover, grey, gainsboro, rgb(50,50,50));
}

.unitOrb.SB {
    background-image: radial-gradient(9px 3px, circle cover, gold, orangered, rgb(50,50,50));
}

.unitOrb .fa {
    position: relative;
    font-size: 2em;
    color: white;
}

.unitOrb .fa-caret-up { top: -3px; }
.unitOrb .fa-caret-down { top: -1px; }

.g-orb,
.str-orb,
.dex-orb,
.qck-orb,
.psy-orb,
.int-orb,
.rainbow-orb,
.meat-orb,
.wano-orb,
.empty-orb,
.superbomb-orb,
.tnd-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

/***********************
 *     ORB GLOWING     *
 ***********************/

.unitOrb.STR { --glow-color: red; animation: glow .5s linear infinite alternate; }
.unitOrb.DEX { --glow-color: limegreen; animation: glow .5s linear infinite alternate; }
.unitOrb.QCK { --glow-color: dodgerblue; animation: glow .5s linear infinite alternate; }
.unitOrb.PSY { --glow-color: orange; animation: glow .5s linear infinite alternate; }
.unitOrb.INT { --glow-color: mediumorchid; animation: glow .5s linear infinite alternate; }
.unitOrb.G { --glow-color: orangered; animation: glow .5s linear infinite alternate; }
.unitOrb.S { --glow-color: red; animation: glow .5s linear infinite alternate; }
.unitOrb.R { --glow-color: magenta; animation: glow .5s linear infinite alternate; }
.unitOrb.W { --glow-color: red; animation: glow .5s linear infinite alternate; }
.unitOrb.SB { --glow-color: orangered; animation: glow .5s linear infinite alternate; }
.unitOrb.opposite { --glow-color: black; animation: glow .5s linear infinite alternate; }

@keyframes glow {
    from { box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px var(--glow-color), 0 0 70px var(--glow-color), 0 0 80px var(--glow-color), 0 0 100px var(--glow-color), 0 0 150px var(--glow-color); }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px var(--glow-color), 0 0 35px var(--glow-color), 0 0 40px var(--glow-color), 0 0 50px var(--glow-color), 0 0 75px var(--glow-color); }
}
