<div class="menu" id="links-button">

    <div class="btn trigger">
        <i class="material-icons material-icons-spin">star</i>
    </div>

    <div class="icons">

        <div class="rotater" id="link-home">
            <a class="btn btn-icon" href="/">
                <i class="material-icons">home</i>
                <span class="tip">Front Page</span>
            </a>
        </div>

        <div class="rotater" id="link-voyage">
            <a class="btn btn-icon" target="_blank" href="https://lukforce.bitbucket.io/">
                <i class="material-icons">location_on</i>
                <span class="tip">Voyage Log</span>
            </a>
        </div>

        <div class="rotater" id="link-supports">
            <a class="btn btn-icon" target="_blank" href="https://thepiebandit.github.io/optc-supports/">
                <i class="material-icons">volunteer_activism</i>
                <span class="tip">Support Database</span>
            </a>
        </div>

        <div class="rotater" id="link-rumble">
            <a class="btn btn-icon" target="_blank" href="https://thepiebandit.github.io/optc-pirate-rumble-db/">
                <i class="material-icons">flag</i>
                <span class="tip">Rumble Database</span>
            </a>
        </div>

        <div class="rotater" id="link-ship">
            <a class="btn btn-icon" target="_blank" href="https://optc-ships.vercel.app">
                <i class="material-icons">medical_services</i>
                <span class="tip">Ship Database</span>
            </a>
        </div>

        <div class="rotater" id="link-drops" ng-if="exclude != 'drops'">
            <a class="btn btn-icon" target="_blank" href="../drops">
                <i class="material-icons">arrow_downward</i>
                <span class="tip">Drop table</span>
            </a>
        </div>

        <div class="rotater" id="link-characters" ng-if="exclude != 'characters'">
            <a class="btn btn-icon" target="_blank" href="../characters">
                <i class="material-icons">menu_book</i>
                <span class="tip">Character table</span>
            </a>
        </div>

        <div class="rotater" id="link-damage" ng-if="exclude != 'calculator'">
            <a class="btn btn-icon" target="_blank" href="../damage">
                <i class="material-icons">calculate</i>
                <span class="tip">Damage calculator</span>
            </a>
        </div>

        <div class="rotater" id="link-reddit">
            <a class="btn btn-icon" target="_blank" href="https://www.reddit.com/r/OnePieceTC/" style="background: #FF4500 url('https://redditinc.com/hs-fs/hubfs/Reddit%20Inc/Content/Brand%20Page/Reddit_Logo.png?width=400&height=400&name=Reddit_Logo.png') no-repeat center; background-size: 100%;">
                <span class="tip">r/OnePieceTC</span>
            </a>
        </div>

        <div class="rotater" id="link-github">
            <a class="btn btn-icon" target="_blank" href="https://github.com/2Shankz/optc-db.github.io" style="background: #333 url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png') no-repeat center; background-size: 100%;">
                <span class="tip">OPTC-DB Repo</span>
            </a>
        </div>

        <div class="rotater" id="link-discord">
            <a class="btn btn-icon" target="_blank" href="https://discord.gg/MRhRrbF" style="background: #5865F2 url('https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png') no-repeat center; background-size: 100%;">
                <i class="material-icons">chat</i>
                <span class="tip">Bug Report Discord</span>
            </a>
        </div>

    </div>

</div>
